<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pws.pwswebservice.mapper.DynamicInfoCommentMapper">
  <resultMap id="BaseResultMap" type="com.pws.pwswebservice.model.DynamicInfoComment">
    <id column="dynamic_info_comment_id" jdbcType="INTEGER" property="dynamicInfoCommentId" />
    <result column="dynamic_info_id" jdbcType="INTEGER" property="dynamicInfoId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="first_comment_id" jdbcType="INTEGER" property="firstCommentId" />
    <result column="like_number" jdbcType="INTEGER" property="likeNumber" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pws.pwswebservice.model.DynamicInfoComment">
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>
  <sql id="Base_Column_List">
    dynamic_info_comment_id, dynamic_info_id, time, user_id, company_id, first_comment_id, like_number
  </sql>
  <sql id="Blob_Column_List">
    context
  </sql>
  <insert id="insertSelective" parameterType="com.pws.pwswebservice.model.DynamicInfoComment">
    insert into dynamic_info_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dynamicInfoCommentId != null">
        dynamic_info_comment_id,
      </if>
      <if test="dynamicInfoId != null">
        dynamic_info_id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="firstCommentId != null">
        first_comment_id,
      </if>
      <if test="likeNumber != null">
        like_number,
      </if>
      <if test="context != null">
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dynamicInfoCommentId != null">
        #{dynamicInfoCommentId,jdbcType=INTEGER},
      </if>
      <if test="dynamicInfoId != null">
        #{dynamicInfoId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="firstCommentId != null">
        #{firstCommentId,jdbcType=INTEGER},
      </if>
      <if test="likeNumber != null">
        #{likeNumber,jdbcType=INTEGER},
      </if>
      <if test="context != null">
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pws.pwswebservice.model.DynamicInfoComment">
    update dynamic_info_comment
    <set>
      <if test="dynamicInfoId != null">
        dynamic_info_id = #{dynamicInfoId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="firstCommentId != null">
        first_comment_id = #{firstCommentId,jdbcType=INTEGER},
      </if>
      <if test="likeNumber != null">
        like_number = #{likeNumber,jdbcType=INTEGER},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where dynamic_info_comment_id = #{dynamicInfoCommentId,jdbcType=INTEGER}
  </update>
</mapper>